body {
    font-family: 'Smythe', cursive;
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

header {
    background: url(/images/bg-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
    }

h1, 
h2 {
    color: white;
    margin: 0;
    padding-left: 46px;
}

h1 {
    padding-top: 46px;
    margin-bottom: 5px;
}

/* .menu-container {
    display: flex;
    flex-direction: column;
    margin: 0 46px;

}

.menu-item {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.description {
    flex-grow: 1;
} */